h1, h2, h3 h4, h5, h6 {
  font-family: canada-type-gibson, sans-serif;
  color:#A6B1E1;
  text-align: center;
}

body {
  background-image: url("images/background.png");
  background-size: cover;   
  background-position: center;      
  background-repeat: no-repeat;  
  background-attachment: fixed;  
  color: #DCD6F7;
  font-family: zalando, sans-serif;
  padding: 40px;
}
.card {
  border: 1px solid #A6B1E1;
  border-radius: 12px;
  padding: 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
a { color: #DCD6F7; }
footer {
  text-align: center;
  align-items: center;
  font-family : zalando, sans-serif;
  color: #A6B1E1;
  font-size: 14px;
  margin-top: 40px;
  width: 100%;
  display: flex;
 padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
.mail-button {
    display: inline-block;
    padding: 12px 25px;
    background-color:#A6B1E1; 
    color:#DCD6F7;             
    text-decoration: none;   
    font-weight: bold;
    border-radius: 8px;       
    transition: background 0.5s;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.mail-button:hover {
    background-color:#a4a0b8; 
   color:#4E4C67
}
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 28px;
  cursor: pointer;
  color: white;
  z-index: 1000;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}


.hamburger {
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  color: #DCD6F7;
}

.side-menu {
  position: absolute;
  top: 0;
  left: -200px;
  width: 150px;
  height: 100%;
  padding-top: 90px;
  transition: left 0.3s ease;
}

.side-menu a {
    display: inline-block;
    padding: 12px 25px;
    color:#DCD6F7;             
    text-decoration: none;   
    font-weight: bold;   
    transition: background 0.5s;
}

.side-menu a:hover {
    background-color:#a4a0b8; 
   color:#4E4C67
}

.menu-wrapper:hover .side-menu {
  left: 0;
}

html {
  scroll-behavior: smooth;
}

footer .footer-note {
  font-family : zalando, sans-serif;
  color: #A6B1E1;
  font-size: 12px;
  text-align: right;
}
.site-logo {
 width: 60px;
 height: auto;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 margin-left: 30px;
 transition: transform 0.3s;
}

.site-logo:hover {
    transform: scale(1.05);
}
h1.baslik {
  font-family: canada-type-gibson, sans-serif;
  color:#A6B1E1;
  text-align: center;
  font-size: 90px;
  margin-bottom: 10px;
}