body {
  background: black;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 40px;
}
.card {
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
}
a { color: black; }
