h1, h2, h3, h4, h5, h6 {
  font-family: canada-type-gibson, sans-serif;
  color:#A6B1E1;
}
body {
  background: #4E4C67;
  color: #DCD6F7;
  font-family: zalando, sans-serif;
  padding: 40px;
}
.card {
  border: 1px solid #A6B1E1;
  border-radius: 12px;
  padding: 20px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
a { color: #DCD6F7; }
footer {
  text-align: center;
  font-family : zalando, sans-serif;
  color: #A6B1E1;
  font-size: 14px;
  margin-top: 40px;
}
.mail-button {
    display: inline-block;
    padding: 12px 25px;
    background-color:#A6B1E1; 
    color:#DCD6F7;             
    text-decoration: none;   
    font-weight: bold;
    border-radius: 8px;       
    transition: background 0.3s;
}

.mail-button:hover {
    background-color:#a4a0b8; 
   color:#4E4C67
}